blinker
certifi
charset-normalizer
click
contourpy
cycler
Flask
fonttools
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
requests
six
tzdata
urllib3
Werkzeug
Gunicorn